In [1]:
import pandas as pd

In [2]:
temp3 = pd.Series([50, 60, 90, 95, 60], index=['T', 'W', 'Th', 'S', 'M'])

## NaN

In [3]:
temp6 = pd.Series([1, 3, None])

In [4]:
temp6

0    1.0
1    3.0
2    NaN
dtype: float64

In [14]:
temp6.mean()

2.0

In [5]:
pd.Series([None])

0    None
dtype: object

In [6]:
import numpy as np

In [7]:
pd.Series([np.nan])

0   NaN
dtype: float64

In [8]:
temp3

T     50
W     60
Th    90
S     95
M     60
dtype: int64

In [9]:
temp7 = temp3.append(pd.Series([100, None], index=['F', 'Sun']))

In [10]:
temp7

T       50.0
W       60.0
Th      90.0
S       95.0
M       60.0
F      100.0
Sun      NaN
dtype: float64

In [11]:
len(temp7)

7

In [12]:
temp7.count()

6

In [13]:
temp7 + 2

T       52.0
W       62.0
Th      92.0
S       97.0
M       62.0
F      102.0
Sun      NaN
dtype: float64

In [15]:
temp7.mean()

75.83333333333333

In [17]:
mask = temp7.isnull()
temp7[mask]

Sun   NaN
dtype: float64

In [16]:
mask = temp7.isnull()
temp7[~mask]

T      50.0
W      60.0
Th     90.0
S      95.0
M      60.0
F     100.0
dtype: float64

In [18]:
temp7.isnull()

T      False
W      False
Th     False
S      False
M      False
F      False
Sun     True
dtype: bool

In [19]:
temp7.isnull().any()

True

In [20]:
temp7.isnull().all()

False

In [21]:
mask = temp7.notnull()
temp7[mask]

T      50.0
W      60.0
Th     90.0
S      95.0
M      60.0
F     100.0
dtype: float64

In [22]:
temp7.dropna()

T      50.0
W      60.0
Th     90.0
S      95.0
M      60.0
F     100.0
dtype: float64

In [23]:
temp7.fillna(-1)

T       50.0
W       60.0
Th      90.0
S       95.0
M       60.0
F      100.0
Sun     -1.0
dtype: float64

In [24]:
temp7.fillna(0)

T       50.0
W       60.0
Th      90.0
S       95.0
M       60.0
F      100.0
Sun      0.0
dtype: float64

In [25]:
temp7

T       50.0
W       60.0
Th      90.0
S       95.0
M       60.0
F      100.0
Sun      NaN
dtype: float64

In [26]:
temp7.fillna(method='ffill')

T       50.0
W       60.0
Th      90.0
S       95.0
M       60.0
F      100.0
Sun    100.0
dtype: float64

In [27]:
temp7.fillna(method='bfill')

T       50.0
W       60.0
Th      90.0
S       95.0
M       60.0
F      100.0
Sun      NaN
dtype: float64