In [17]:
import pandas as pd
from pandas_datareader import data
import numpy as np
from dateutil.parser import parse

In [18]:
df = pd.read_csv('beatles.csv')
df

,Unnamed: 0,Title,Released,Label,UK Chart Position,US Chart Position,BPI Certification,RIAA Certification,Count Songs,Year
0,0,Yesterday and Today,1966-06-15,Capitol(US),NaN,1.0,NaN,2xPlatinum,11,1966
1,1,Revolver,1966-08-05,Parlophone(UK),1.0,NaN,Platinum,NaN,14,1966
2,2,Revolver,1966-08-08,Capitol(US)[C],NaN,1.0,NaN,5xPlatinum,14,1966
3,3,Sgt. Pepper's Lonely Hearts Club Band,1967-06-01,"Parlophone(UK), Capitol(US)",1.0,1.0,3xPlatinum,11xPlatinum,13,1967
4,4,Magical Mystery Tour,1967-11-27,"Parlophone(UK), Capitol(US)",NaN,1.0,Platinum,6xPlatinum,11,1967
5,5,The Beatles,1968-11-22,"Apple(UK), Capitol(US)",1.0,1.0,Platinum,19xPlatinum,30,1968
6,6,Yellow Submarine,1969-01-13,"Apple(UK), Capitol(US)",3.0,2.0,Silver,Platinum,6,1969
7,7,Abbey Road,1969-09-26,"Apple(UK), Capitol(US)",1.0,1.0,2xPlatinum,12xPlatinum,17,1969
8,8,Let It Be,1970-05-08,"Apple(UK),United Artists(US)",1.0,1.0,Gold,4xPlatinum,12,1970

In [19]:
df.dtypes

Unnamed: 0              int64
Title                  object
Released               object
Label                  object
UK Chart Position     float64
US Chart Position     float64
BPI Certification      object
RIAA Certification     object
Count Songs             int64
Year                    int64
dtype: object

In [20]:
df.Released

0    1966-06-15
1    1966-08-05
2    1966-08-08
3    1967-06-01
4    1967-11-27
5    1968-11-22
6    1969-01-13
7    1969-09-26
8    1970-05-08
Name: Released, dtype: object

In [21]:
df = pd.read_csv('beatles.csv', parse_dates=['Released'])
df.dtypes

Unnamed: 0                     int64
Title                         object
Released              datetime64[ns]
Label                         object
UK Chart Position            float64
US Chart Position            float64
BPI Certification             object
RIAA Certification            object
Count Songs                    int64
Year                           int64
dtype: object

In [22]:
df = pd.read_csv('beatles.csv', converters={'Released': parse})
df.dtypes

Unnamed: 0                     int64
Title                         object
Released              datetime64[ns]
Label                         object
UK Chart Position            float64
US Chart Position            float64
BPI Certification             object
RIAA Certification            object
Count Songs                    int64
Year                           int64
dtype: object

In [23]:
dates = ['10-10-2015', '9/8/2012', '2/2014', 'Sep 17, 2000', 'foo']
pd.to_datetime(dates)

ValueError: Unknown string format

In [24]:
dates = ['10-10-2015', '9/8/2012', '2/2014', 'Sep 17, 2000', 'foo']
pd.to_datetime(dates, errors='ignore')

array(['10-10-2015', '9/8/2012', '2/2014', 'Sep 17, 2000', 'foo'],
      dtype=object)

In [25]:
dates = ['10-10-2015', '9/8/2012', '2/2014', 'Sep 17, 2000', 'foo']
pd.to_datetime(dates, errors='coerce')

DatetimeIndex(['2015-10-10', '2012-09-08', '2014-02-01', '2000-09-17', 'NaT'], dtype='datetime64[ns]', freq=None)

In [26]:
dates = ['10-10-2015', '9/8/2012', '2/2014', 'Sep 17, 2000', 'foo']
ser = pd.Series(pd.to_datetime(dates, errors='coerce'))

In [31]:
ser

0   2015-10-10
1   2012-09-08
2   2014-02-01
3   2000-09-17
4          NaT
dtype: datetime64[ns]

In [28]:
ser.dt.year

0    2015.0
1    2012.0
2    2014.0
3    2000.0
4       NaN
dtype: float64

In [32]:
ser.dt.month

0    10.0
1     9.0
2     2.0
3     9.0
4     NaN
dtype: float64

In [33]:
ser.dt.hour

0    0.0
1    0.0
2    0.0
3    0.0
4    NaN
dtype: float64