In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'Name': 'Paul,George,Ringo'.split(','),
                  'growth': [.5, .7, 1.2]})

## Projection
Pull out columns

In [ ]:
df.Name

In [4]:
df['Name']

0      Paul
1    George
2     Ringo
Name: Name, dtype: object

In [5]:
df[['Name']]

     Name
0    Paul
1  George
2   Ringo

In [6]:
df[['Name', 'growth']]

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [ ]:
# get more complicated by indexing off of .loc
df.loc[df.Name.str.contains('r'), ['Name']]

In [10]:
# with positional indexing (take rows 2 & 1, take columns from 1 and up)
df.iloc[[2,1], 1:]

   growth
2     1.2
1     0.7

0    False
1     True
2    False
Name: Name, dtype: bool