In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Name': 'Paul,George,Ringo'.split(','),
                  'growth': [.5, .7, 1.2]})

## Union

In [3]:
df

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [4]:
# union
pd.concat([df, df])

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [5]:
# union
df.append(df)

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [6]:
# note that index is not unique
ind = df.append(df).index
ind.is_unique

False

In [7]:
df2 = df.append(df).reset_index()
df2

   index    Name  growth
0      0    Paul     0.5
1      1  George     0.7
2      2   Ringo     1.2
3      0    Paul     0.5
4      1  George     0.7
5      2   Ringo     1.2

In [10]:
df2 = df.append(df).reset_index(drop=True)
df2

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2
3    Paul     0.5
4  George     0.7
5   Ringo     1.2

In [8]:
ind = df2.index
ind.is_unique

True