In [2]:
from io import StringIO

import numpy as np
import pandas as pd

In [3]:
data = {'Birth': ['9-1-1900', '1-3-1904', '2-28-1889'],
       'Name': [ 'Fred', 'Márge', 'Henry'],
       'Color': ['Red', 'Blue', None],
       'Number': [3, 1, 9]} # option-e a á
df = pd.DataFrame(data)

In [4]:
df

       Birth Color   Name  Number
0   9-1-1900   Red   Fred       3
1   1-3-1904  Blue  Márge       1
2  2-28-1889  None  Henry       9

## Numpy

In [5]:
df

       Birth Color   Name  Number
0   9-1-1900   Red   Fred       3
1   1-3-1904  Blue  Márge       1
2  2-28-1889  None  Henry       9

In [6]:
df.as_matrix()

array([['9-1-1900', 'Red', 'Fred', 3],
       ['1-3-1904', 'Blue', 'Márge', 1],
       ['2-28-1889', None, 'Henry', 9]], dtype=object)

In [10]:
np_df = pd.DataFrame(df.as_matrix(), columns=['Birth', 'Color', 'Name', 'Number'])
np_df

       Birth Color   Name Number
0   9-1-1900   Red   Fred      3
1   1-3-1904  Blue  Márge      1
2  2-28-1889  None  Henry      9

In [11]:
np_df.dtypes

Birth     object
Color     object
Name      object
Number    object
dtype: object

In [12]:
np_df['Number'] = np_df.Number.astype(int)

In [13]:
np_df['Birth'] = pd.to_datetime(np_df.Birth)

In [14]:
np_df.dtypes

Birth     datetime64[ns]
Color             object
Name              object
Number             int64
dtype: object