In [1]:
from io import StringIO

import numpy as np
import pandas as pd

In [2]:
data = {'Birth': ['9-1-1900', '1-3-1904', '2-28-1889'],
       'Name': [ 'Fred', 'Márge', 'Henry'],
       'Color': ['Red', 'Blue', None],
       'Number': [3, 1, 9]} # option-e a á
df = pd.DataFrame(data)

## Pickle

In [3]:
df

       Birth Color   Name  Number
0   9-1-1900   Red   Fred       3
1   1-3-1904  Blue  Márge       1
2  2-28-1889  None  Henry       9

In [4]:
df.to_pickle('/tmp/foo.out')

In [5]:
cat /tmp/foo.out

��~      �pandas.core.frame��	DataFrame���)��}�(�_data��pandas.core.internals��BlockManager���)��(]�(�pandas.core.indexes.base��
�pandas.core.indexes.range��data��numpy.core.multiarray��_reconstruct����numpy��ndarray���K ��Cb���R�(KK��h�dtype����O8�K K��R�(K�|�NNNJ����J����K?t�b�]�(�Birth��Color��Name��Number�et�b�name�Nu��R�h
h}�(hhhK ��h��R�(KK��h!�]�(h%h&h'et�bh*Nu��R�e}��0.14.1�}�(�axes�hK��h�i8�K K��R�(K�<�NNNJ����J����K t�b�C              	       �t�bhhK ��h��R�(KKK��h!�]�(9-1-1900�1-3-1904��	2-28-1889��Red��Blue�N�Fred��Márge��Henry�et�be]�(h
�blocks�]�(}�(�values�h9mgr_locs�builtins��slice���KKK��R�u}�(hjhDhkhnK KK��R�ueust�b�_typ��	dataframe��	_metadata�]�ub.

In [6]:
df2 = pd.read_pickle('/tmp/foo.out')

In [7]:
df2

       Birth Color   Name  Number
0   9-1-1900   Red   Fred       3
1   1-3-1904  Blue  Márge       1
2  2-28-1889  None  Henry       9

In [8]:
df2.dtypes

Birth     object
Color     object
Name      object
Number     int64
dtype: object