In [2]:
import pandas as pd

##  Creation from Lists and Dicts

In [16]:
cols = {'name': ['Pa`ul', 'George', 'Ringo'],
       'age': [22, 21, 23]}
df = pd.DataFrame(cols)

In [7]:
df

   age    name
0   22    Paul
1   21  George
2   23   Ringo

In [12]:
rows = [{'name':'Pa`ul', 'age': 22},
       {'name':'George', 'age': 21},
       {'age':23, 'name':'Ringo'}]
df = pd.DataFrame(rows)

In [13]:
df

   age    name
0   22   Pa`ul
1   21  George
2   23   Ringo

In [14]:
import json

In [17]:
col_json = json.dumps(cols)
col_json

'{"name": ["Pa`ul", "George", "Ringo"], "age": [22, 21, 23]}'

In [19]:
df = pd.read_json(col_json)
df

   age    name
0   22   Pa`ul
1   21  George
2   23   Ringo

In [20]:
row_json = json.dumps(rows)
row_json

'[{"name": "Pa`ul", "age": 22}, {"name": "George", "age": 21}, {"age": 23, "name": "Ringo"}]'

In [21]:
df = pd.read_json(row_json)
df

   age    name
0   22   Pa`ul
1   21  George
2   23   Ringo