In [3]:
import pandas as pd

In [4]:
cols = {'name': ['Paul', 'George', 'Ringo'],
       'age': [22, 21, 23]}
df = pd.DataFrame(cols)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
age     3 non-null int64
name    3 non-null object
dtypes: int64(1), object(1)
memory usage: 128.0+ bytes

In [5]:
df

   age    name
0   22    Paul
1   21  George
2   23   Ringo

In [6]:
df.age

0    22
1    21
2    23
Name: age, dtype: int64

In [7]:
df.describe()

        age
count   3.0
mean   22.0
std     1.0
min    21.0
25%    21.5
50%    22.0
75%    22.5
max    23.0

In [9]:
df.columns

Index(['age', 'name'], dtype='object')