In [2]:
import pandas as pd

In [3]:
cols = {'name': ['Paul', 'George', 'Ringo'],
       'age': [22, 21, 23]}
df = pd.DataFrame(cols)

In [4]:
df

   age    name
0   22    Paul
1   21  George
2   23   Ringo

In [4]:
df.to_csv('/tmp/beat.csv', index=False)

In [5]:
cat /tmp/beat.csv

age,name
22,Paul
21,George
23,Ringo

## Reading CSV Files

In [6]:
filename = '/tmp/beat.csv'
df = pd.read_csv(filename)

In [7]:
df

   age    name
0   22    Paul
1   21  George
2   23   Ringo