In [1]:
import io

import pandas as pd

In [2]:
data = '''Name|Age|Color
Fred|22|Red
Sally|29|Blue
George|24|
Fido||Black'''

df = pd.read_table(io.StringIO(data), sep='|')

In [3]:
df

     Name   Age  Color
0    Fred  22.0    Red
1   Sally  29.0   Blue
2  George  24.0    NaN
3    Fido   NaN  Black

## Boolean Arrays

In [4]:
df.Age > 25

0    False
1     True
2    False
3    False
Name: Age, dtype: bool

In [5]:
df.Name.str.startswith('F')

0     True
1    False
2    False
3     True
Name: Name, dtype: bool

In [6]:
df

     Name   Age  Color
0    Fred  22.0    Red
1   Sally  29.0   Blue
2  George  24.0    NaN
3    Fido   NaN  Black