In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests as r

## Munging Data

In [2]:
df = pd.read_csv('my-ava-raw.csv')

In [3]:
df.dtypes

Unnamed: 0                           int64
Accident and Rescue Summary:        object
Aspect:                             object
Avalanche Problem:                  object
Avalanche Type:                     object
Buried - Fully:                    float64
Buried - Partly:                   float64
Carried:                           float64
Caught:                            float64
Comments:                           object
Coordinates:                        object
Depth:                              object
Elevation:                          object
Injured:                           float64
Killed:                              int64
Location Name or Route:             object
Observation Date:                   object
Observer Name:                      object
Occurence Time:                     object
Occurrence Date:                    object
Region:                             object
Slope Angle:                       float64
Snow Profile Comments:              object
Terrain Summary:                    object
Trigger:                            object
Trigger: additional info:           object
Vertical:                           object
Video:                             float64
Weak Layer:                         object
Weather Conditions and History:     object
Width:                              object
coordinates                         object
killed                               int64
occurrence-date                     object
region-forecaster                   object
region-forecaster-1                 object
trigger                             object
url                                 object
dtype: object

In [4]:
df.describe()

,Unnamed: 0,Buried - Fully:,Buried - Partly:,Carried:,Caught:,Injured:,Killed:,Slope Angle:,Video:,killed
count,98.000000,69.000000,25.0,77.000000,78.000000,7.000000,98.000000,43.000000,0.0,98.000000
mean,48.500000,1.173913,1.2,1.649351,1.692308,1.142857,1.183673,37.906977,NaN,1.183673
std,28.434134,0.418559,0.5,1.144394,1.176697,0.377964,0.504555,5.558408,NaN,0.504555
min,0.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,10.000000,NaN,1.000000
25%,24.250000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,36.000000,NaN,1.000000
50%,48.500000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,38.000000,NaN,1.000000
75%,72.750000,1.000000,1.0,2.000000,2.000000,1.000000,1.000000,40.000000,NaN,1.000000
max,97.000000,3.000000,3.0,7.000000,7.000000,2.000000,4.000000,50.000000,NaN,4.000000

In [5]:
df.columns

Index(['Unnamed: 0', 'Accident and Rescue Summary:', 'Aspect:',
       'Avalanche Problem:', 'Avalanche Type:', 'Buried - Fully:',
       'Buried - Partly:', 'Carried:', 'Caught:', 'Comments:', 'Coordinates:',
       'Depth:', 'Elevation:', 'Injured:', 'Killed:',
       'Location Name or Route:', 'Observation Date:', 'Observer Name:',
       'Occurence Time:', 'Occurrence Date:', 'Region:', 'Slope Angle:',
       'Snow Profile Comments:', 'Terrain Summary:', 'Trigger:',
       'Trigger: additional info:', 'Vertical:', 'Video:', 'Weak Layer:',
       'Weather Conditions and History:', 'Width:', 'coordinates', 'killed',
       'occurrence-date', 'region-forecaster', 'region-forecaster-1',
       'trigger', 'url'],
      dtype='object')

In [7]:
df = df.rename(columns={x:x.replace(':', '') for x in df.columns})

In [8]:
df.Aspect.value_counts()

Northeast    25
North        14
Northwest    10
East          9
West          3
Southeast     3
South         2
Southwest     1
Name: Aspect, dtype: int64

In [9]:
df['Avalanche Problem'].value_counts()

Persistent Slab    15
Storm Slab          3
Wind Slab           3
Deep Slab           3
Wet Slab            2
Glide               1
Name: Avalanche Problem, dtype: int64

In [10]:
df['Avalanche Type'].value_counts()

Hard Slab       27
Soft Slab       26
Cornice Fall     1
Wet Slab         1
Name: Avalanche Type, dtype: int64

In [ ]:
df.Depth

In [ ]:
import re

def to_inches(orig):
    reg = r"""(((\d*\.)?\d*)')?(((\d*\.)?\d*)")?"""
    txt = str(orig)
    if txt == 'nan':
        return orig
    mo = re.search(reg, txt)
    feet = mo.group(2) or 0
    inches = mo.group(5) or 0
    return float(feet)*12 + float(inches)

to_inches('18"'), to_inches("2.5'")

In [ ]:
df['depth_inches'] = df.Depth.apply(to_inches)

In [ ]:
df.depth_inches

In [ ]:
df.depth_inches.describe()

## More munging

In [11]:
df['Occurrence Date']

0         Sunday, January 31, 2016
1       Thursday, January 21, 2016
2         Wednesday, March 4, 2015
3            Friday, March 7, 2014
4         Sunday, February 9, 2014
5       Saturday, February 8, 2014
6         Thursday, April 11, 2013
7            Friday, March 1, 2013
8         Friday, January 18, 2013
9          Saturday, March 3, 2012
10     Thursday, February 23, 2012
11        Sunday, February 5, 2012
12      Saturday, January 28, 2012
13       Sunday, November 13, 2011
14        Saturday, March 26, 2011
15       Friday, November 26, 2010
16           Sunday, April 4, 2010
17        Friday, January 29, 2010
18     Wednesday, January 27, 2010
19        Sunday, January 24, 2010
20      Tuesday, December 30, 2008
21    Wednesday, December 24, 2008
22       Sunday, December 14, 2008
23       Monday, December 31, 2007
24      Tuesday, December 25, 2007
25       Sunday, December 23, 2007
26    Wednesday, February 21, 2007
27       Sunday, February 18, 2007
28     Saturday, February 17, 2007
29     Saturday, February 17, 2007
                  ...
68         Saturday, April 3, 1993
69     Thursday, February 25, 1993
70      Saturday, January 16, 1993
71        Wednesday, April 1, 1992
72    Wednesday, February 12, 1992
73     Saturday, November 25, 1989
74       Sunday, February 15, 1987
75     Thursday, November 20, 1986
76    Wednesday, February 19, 1986
77       Monday, February 17, 1986
78         Monday, January 6, 1986
79    Wednesday, November 13, 1985
80         Tuesday, March 19, 1985
81       Friday, February 22, 1985
82         Monday, January 2, 1984
83          Monday, March 22, 1982
84           Sunday, March 1, 1981
85        Sunday, February 1, 1981
86        Friday, January 11, 1980
87           Monday, April 2, 1979
88        Friday, January 19, 1979
89         Thursday, March 3, 1977
90        Tuesday, January 6, 1976
91     Saturday, December 29, 1973
92       Tuesday, January 20, 1970
93       Monday, February 19, 1968
94       Sunday, February 12, 1967
95       Friday, December 31, 1965
96          Sunday, March 29, 1964
97           Sunday, March 9, 1958
Name: Occurrence Date, Length: 98, dtype: object

In [12]:
pd.to_datetime(df['Occurrence Date'])

0    2016-01-31
1    2016-01-21
2    2015-03-04
3    2014-03-07
4    2014-02-09
5    2014-02-08
6    2013-04-11
7    2013-03-01
8    2013-01-18
9    2012-03-03
10   2012-02-23
11   2012-02-05
12   2012-01-28
13   2011-11-13
14   2011-03-26
15   2010-11-26
16   2010-04-04
17   2010-01-29
18   2010-01-27
19   2010-01-24
20   2008-12-30
21   2008-12-24
22   2008-12-14
23   2007-12-31
24   2007-12-25
25   2007-12-23
26   2007-02-21
27   2007-02-18
28   2007-02-17
29   2007-02-17
        ...
68   1993-04-03
69   1993-02-25
70   1993-01-16
71   1992-04-01
72   1992-02-12
73   1989-11-25
74   1987-02-15
75   1986-11-20
76   1986-02-19
77   1986-02-17
78   1986-01-06
79   1985-11-13
80   1985-03-19
81   1985-02-22
82   1984-01-02
83   1982-03-22
84   1981-03-01
85   1981-02-01
86   1980-01-11
87   1979-04-02
88   1979-01-19
89   1977-03-03
90   1976-01-06
91   1973-12-29
92   1970-01-20
93   1968-02-19
94   1967-02-12
95   1965-12-31
96   1964-03-29
97   1958-03-09
Name: Occurrence Date, Length: 98, dtype: datetime64[ns]

In [14]:
df['year'] = pd.to_datetime(df['Occurrence Date']).dt.year
df['year']

0     2016
1     2016
2     2015
3     2014
4     2014
5     2014
6     2013
7     2013
8     2013
9     2012
10    2012
11    2012
12    2012
13    2011
14    2011
15    2010
16    2010
17    2010
18    2010
19    2010
20    2008
21    2008
22    2008
23    2007
24    2007
25    2007
26    2007
27    2007
28    2007
29    2007
      ...
68    1993
69    1993
70    1993
71    1992
72    1992
73    1989
74    1987
75    1986
76    1986
77    1986
78    1986
79    1985
80    1985
81    1985
82    1984
83    1982
84    1981
85    1981
86    1980
87    1979
88    1979
89    1977
90    1976
91    1973
92    1970
93    1968
94    1967
95    1965
96    1964
97    1958
Name: year, Length: 98, dtype: int64

In [15]:
df['dow'] = df['Occurrence Date'].apply(lambda x: x.split(',')[0])
df['dow']

0        Sunday
1      Thursday
2     Wednesday
3        Friday
4        Sunday
5      Saturday
6      Thursday
7        Friday
8        Friday
9      Saturday
10     Thursday
11       Sunday
12     Saturday
13       Sunday
14     Saturday
15       Friday
16       Sunday
17       Friday
18    Wednesday
19       Sunday
20      Tuesday
21    Wednesday
22       Sunday
23       Monday
24      Tuesday
25       Sunday
26    Wednesday
27       Sunday
28     Saturday
29     Saturday
        ...
68     Saturday
69     Thursday
70     Saturday
71    Wednesday
72    Wednesday
73     Saturday
74       Sunday
75     Thursday
76    Wednesday
77       Monday
78       Monday
79    Wednesday
80      Tuesday
81       Friday
82       Monday
83       Monday
84       Sunday
85       Sunday
86       Friday
87       Monday
88       Friday
89     Thursday
90      Tuesday
91     Saturday
92      Tuesday
93       Monday
94       Sunday
95       Friday
96       Sunday
97       Sunday
Name: dow, Length: 98, dtype: object

In [16]:
df.dow.value_counts()

Saturday     29
Sunday       16
Friday       15
Thursday     12
Monday       10
Wednesday    10
Tuesday       6
Name: dow, dtype: int64

In [17]:
df.Vertical

0         300
1        1250
2        1500
3         200
4         175
5         125
6        1500
7         250
8          50
9        1000
10        600
11        350
12       2500
13        800
14        900
15    Unknown
16       1000
17       1000
18        600
19       1500
20        500
21        700
22       1000
23        450
24        400
25        600
26        600
27       1500
28        250
29        250
       ...
68        NaN
69        NaN
70        NaN
71        NaN
72        NaN
73        NaN
74        500
75        NaN
76       1000
77        350
78        700
79        600
80        NaN
81        400
82       1500
83        500
84        700
85        100
86        200
87        600
88        250
89        500
90        100
91        300
92        300
93        NaN
94       1500
95        300
96       1250
97       1250
Name: Vertical, Length: 98, dtype: object

In [18]:
df['vert'] = df.Vertical.str.replace('Unknown', 'NaN').astype(float)
df['vert'] = df.vert.fillna(df.vert.median())
df['vert']

0      300.0
1     1250.0
2     1500.0
3      200.0
4      175.0
5      125.0
6     1500.0
7      250.0
8       50.0
9     1000.0
10     600.0
11     350.0
12    2500.0
13     800.0
14     900.0
15     600.0
16    1000.0
17    1000.0
18     600.0
19    1500.0
20     500.0
21     700.0
22    1000.0
23     450.0
24     400.0
25     600.0
26     600.0
27    1500.0
28     250.0
29     250.0
       ...
68     600.0
69     600.0
70     600.0
71     600.0
72     600.0
73     600.0
74     500.0
75     600.0
76    1000.0
77     350.0
78     700.0
79     600.0
80     600.0
81     400.0
82    1500.0
83     500.0
84     700.0
85     100.0
86     200.0
87     600.0
88     250.0
89     500.0
90     100.0
91     300.0
92     300.0
93     600.0
94    1500.0
95     300.0
96    1250.0
97    1250.0
Name: vert, Length: 98, dtype: float64

In [19]:
df.vert.describe()

count      98.000000
mean      653.061224
std       375.545399
min        50.000000
25%       500.000000
50%       600.000000
75%       600.000000
max      2500.000000
Name: vert, dtype: float64

In [20]:
df.coordinates

0     40.681035109898, -111.598269411350
1     40.666951474815, -111.685399884810
2     41.215552643517, -111.873779284110
3     40.812120000000, -110.906296000000
4     39.585986000000, -111.270003000000
5     40.482366000000, -111.648088000000
6     40.629000000000, -111.666412000000
7     39.043600000000, -111.519000000000
8                                    NaN
9     38.539320000000, -109.209852000000
10    40.653034000000, -111.592255000000
11    38.716456000000, -111.721988000000
12    40.624442000000, -111.669588000000
13    40.568491000000, -111.652937000000
14    39.372824000000, -111.422482000000
15    40.847320000000, -111.015129000000
16    41.050424000000, -111.844082000000
17    40.856199868806, -111.754991041400
18    40.617112000000, -111.623840000000
19    41.215563000000, -111.873307000000
20    40.871988000000, -110.974016000000
21    41.711752000000, -111.717181000000
22    40.569632000000, -111.641693000000
23        0.000000000000, 0.000000000000
24    40.834820000000, -111.008220000000
25    40.660164000000, -111.596117000000
26    40.666707000000, -111.683493000000
27    41.211302000000, -111.878414000000
28    40.393071000000, -111.140785000000
29    38.628762622838, -112.023038851360
                     ...
68    40.585286000000, -111.605041000000
69                                   NaN
70    40.372185694061, -111.585446285570
71    40.551518000000, -111.649544000000
72                                   NaN
73                                   NaN
74    40.591841000000, -111.604827000000
75                                   NaN
76    40.566950000000, -111.624353000000
77    40.606262000000, -111.576839000000
78    40.285983000000, -111.506379000000
79    40.577629000000, -111.594312000000
80    40.641857000000, -111.520412000000
81    41.362519000000, -111.782882000000
82    40.593007000000, -111.659243000000
83    40.694668000000, -111.604312000000
84    40.664995000000, -111.693146000000
85    40.631609000000, -111.654308000000
86    40.606529000000, -111.594484000000
87    40.656105000000, -111.602252000000
88    39.702192039624, -110.949728952290
89    40.564342704045, -111.652085678840
90    40.586506674316, -111.626428069460
91                                   NaN
92    40.572657369383, -111.651414858090
93    40.265380469741, -111.618347155190
94    40.708361000000, -111.759796000000
95    40.631302096436, -111.516682134840
96    41.204951129311, -111.900259481650
97    41.205508551921, -111.875901000480
Name: coordinates, Length: 98, dtype: object

In [23]:
def lon(val):
    if str(val) == 'nan':
        return float('nan')
    else:
        return float(val.split(',')[-1])

df['lon'] = df.coordinates.apply(lon)

In [24]:
df.lon.describe()

count     82.000000
mean    -110.196626
std       12.324395
min     -112.023039
25%     -111.684457
50%     -111.616567
75%     -111.534519
max        0.000000
Name: lon, dtype: float64

In [25]:
df['lat'] = df.coordinates.apply(lambda x: float(x.split(',')[0]) if str(x) != 'nan' else float('nan'))

In [26]:
df.lat.describe()

count    82.000000
mean     40.016124
std       4.514445
min       0.000000
25%      40.422754
50%      40.606194
75%      40.678187
max      41.711752
Name: lat, dtype: float64

In [22]:
type(float('nan'))

float

In [27]:
df.iloc[23]

Unnamed 0                                                                        23
Accident and Rescue Summary       At approx. 3:00, three experienced snowmobiler...
Aspect                                                                          NaN
Avalanche Problem                                                               NaN
Avalanche Type                                                            Hard Slab
Buried - Fully                                                                    1
Buried - Partly                                                                   2
Carried                                                                           3
Caught                                                                            3
Comments                                                                        NaN
Coordinates                       (function($) {\n  $(document).ready(function()...
Depth                                                                          4.5'
Elevation                                                                   Unknown
Injured                                                                         NaN
Killed                                                                            1
Location Name or Route                                                          NaN
Observation Date                                           Tuesday, January 1, 2008
Observer Name                                                          Craig Gordon
Occurence Time                                                               3:00pm
Occurrence Date                                           Monday, December 31, 2007
Region                                                                       3:00pm
Slope Angle                                                                      36
Snow Profile Comments                                                           NaN
Terrain Summary                                                                 NaN
Trigger                                                                 Snowmobiler
Trigger additional info                                   Unintentionally Triggered
Vertical                                                                        450
Video                                                                           NaN
Weak Layer                                                                   Facets
Weather Conditions and History                                                  NaN
Width                                                                           450
coordinates                                          0.000000000000, 0.000000000000
killed                                                                            1
occurrence-date                                                          12/31/2007
region-forecaster                                                            Uintas
region-forecaster-1                                                     Co-op Creek
trigger                                                                 Snowmobiler
url                                                               /avalanches/17454
year                                                                           2007
dow                                                                          Monday
vert                                                                            450
lon                                                                               0
lat                                                                               0
Name: 23, dtype: object