In [4]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame({'name': ['John', 'George', 'Ringo'],
                   'color': ['Blue', 'Blue', 'Purple']})
df2 = pd.DataFrame({'name': ['Paul', 'George2', 'Ringo'],
                   'carcolor': ['Red', 'Blue', np.nan]},
                  index=[3, 1, 2])

In [5]:
df1

    color    name
0    Blue    John
1    Blue  George
2  Purple   Ringo

In [6]:
df2

  carcolor     name
3      Red     Paul
1     Blue  George2
2      NaN    Ringo

## Concat Columns

In [7]:
pd.concat([df1, df2], axis=1)

    color    name carcolor     name
0    Blue    John      NaN      NaN
1    Blue  George     Blue  George2
2  Purple   Ringo      NaN    Ringo
3     NaN     NaN      Red     Paul

In [8]:
pd.concat([df1, df2], axis=1, join='inner')

    color    name carcolor     name
1    Blue  George     Blue  George2
2  Purple   Ringo      NaN    Ringo

In [9]:
pd.concat([df1, df2], axis=1, join='inner', verify_integrity=True)

ValueError: Indexes have overlapping values: ['name']

In [10]:
pd.concat([df1, df2], axis=1, join='inner', ignore_index=True)

        0       1     2        3
1    Blue  George  Blue  George2
2  Purple   Ringo   NaN    Ringo