In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'name':['Adam', 'Bob', 'Dave', 'Fred'],
                  'age': [15, 16, 16, 15],
                  'test1': [95, 81, 89, None],
                  'test2': [80, 82, 84, 88],
                  'teacher': ['Ashby', 'Ashby', 'Jones', 'Jones']})

In [3]:
df

   age  name teacher  test1  test2
0   15  Adam   Ashby   95.0     80
1   16   Bob   Ashby   81.0     82
2   16  Dave   Jones   89.0     84
3   15  Fred   Jones    NaN     88

In [5]:
costs = pd.DataFrame({'item': ['bacon', 'cheese', 'bacon'],
                     'cost': [2.5, 4.5, 3.2],
                     'store': ['SuperS', 'DollarM', 'DollarM'],
                     'day': ['M', 'M', 'M']})

## Stacking

In [7]:
costs

   cost day    item    store
0   2.5   M   bacon   SuperS
1   4.5   M  cheese  DollarM
2   3.2   M   bacon  DollarM

In [8]:
piv = costs.pivot_table(index='item', columns='day')

In [9]:
piv

        cost
day        M
item
bacon   2.85
cheese  4.50

In [11]:
piv.stack()

            cost
item   day
bacon  M    2.85
cheese M    4.50

In [12]:
piv.columns

MultiIndex(levels=[['cost'], ['M']],
           labels=[[0], [0]],
           names=[None, 'day'])

In [13]:
piv2 = costs.pivot_table(index='item', columns='day', margins=True)
piv2

        cost
day        M   All
item
bacon   2.85  2.85
cheese  4.50  4.50
All     3.40  3.40

In [14]:
piv2.stack()

            cost
item   day
bacon  All  2.85
       M    2.85
cheese All  4.50
       M    4.50
All    All  3.40
       M    3.40

In [18]:
piv2.stack().columns, piv2.stack().index

(Index(['cost'], dtype='object'),
 MultiIndex(levels=[['bacon', 'cheese', 'All'], ['All', 'M']],
            labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]],
            names=['item', 'day']))

In [15]:
piv2.stack().unstack()

        cost
day      All     M
item
bacon   2.85  2.85
cheese  4.50  4.50
All     3.40  3.40