In [4]:
import pandas as pd

In [5]:
temp3 = pd.Series([50, 60, 90, 95, 60], index=['T', 'W', 'Th', 'S', 'M'])

## Serialization

In [6]:
temp3

T     50
W     60
Th    90
S     95
M     60
dtype: int64

In [7]:
temp3.to_csv('/tmp/temp.csv')

In [8]:
cat /tmp/temp.csv

T,50
W,60
Th,90
S,95
M,60

In [9]:
temp3.to_csv('/tmp/temp.csv', header=True)

In [10]:
cat /tmp/temp.csv

,0
T,50
W,60
Th,90
S,95
M,60

In [49]:
temp3.name = 'Temps'

In [12]:
temp3.to_csv('/tmp/temp.csv', header=True)

In [13]:
cat /tmp/temp.csv

,Temps
T,50
W,60
Th,90
S,95
M,60

In [16]:
temp3.to_csv('/tmp/temp.csv', header=True, index_label='Index')

In [17]:
cat /tmp/temp.csv

Index,Temps
T,50
W,60
Th,90
S,95
M,60

In [47]:
temp8 = pd.read_csv('/tmp/temp.csv',index_col=0,header=0)
temp8

       Temps
Index
T         50
W         60
Th        90
S         95
M         60

In [32]:
type(temp8)

pandas.core.frame.DataFrame

In [33]:
temp8.values, temp8.index

(array([['T', 50],
        ['W', 60],
        ['Th', 90],
        ['S', 95],
        ['M', 60]], dtype=object), RangeIndex(start=0, stop=5, step=1))

In [35]:
temp8.values

array([[50],
       [60],
       [90],
       [95],
       [60]])

In [36]:
df = pd.read_csv('/tmp/temp.csv')

In [37]:
df

  Index  Temps
0     T     50
1     W     60
2    Th     90
3     S     95
4     M     60

In [41]:
df = pd.read_csv('/tmp/temp.csv', index_col=0)

In [42]:
df

       Temps
Index
T         50
W         60
Th        90
S         95
M         60

In [44]:
type(df.Temps)

pandas.core.series.Series

In [45]:
df.columns

Index(['Temps'], dtype='object')